<!DOCTYPE html>
{% load crispy_forms_tags %}
{% load static %}
<html>
  <head>
    <meta charset="utf-8">
    <title>Create Order</title>
    <link href="{% static '/bootstrap-3.3.7-dist/css/bootstrap.css' %}" rel="stylesheet"/>
    <script src="{% static '/bootstrap-3.3.7-dist/js/bootstrap.js' %}"></script>
  </head>
  <body>
    <form class="" action="{% url 'main:createOrder' coffee_id=coffee.id %}" method="post">
      {% csrf_token %}
      {{form|crispy}}
    <input type="submit" name="" value="Order">
    </form>
  </body>
</html>
