{% extends 'main/base.html' %}
{% load crispy_forms_tags %}


{% block header %} $$ HOMEPAGE $$ {% endblock %}
{% block content %}

<div class="row">
 <div class="col col-sm-6">
 <h1>Date:{{today}}</h1>
 </div>
 <div class="col col-sm-6">
 <form class="" action="{% url 'main:home' %}" method="post">
   {% csrf_token %}
     {{form}}
     <input type="submit" name="" value="Filter">
 </form>
 </div>
</div>
 <hr>
 <div class="row">
 {% for order in order_list %}
   <div class="col-sm-4 col-md-3">
     <div class="thumbnail">
       <div class="caption">
         <h3 class =" text-center">{{order.coffee}}</h3>
       </div>
     </div>
   </div>
 {% endfor %}
</div>
<hr>
<div class="row">
 <h1>Customized Coffee </h1>
 <hr>
 {% for coffee in coffee_list %}
   <div class="col-sm-4 col-md-3">
     <div class="thumbnail">
       <div class="caption">
         <h3>{{coffee}}</h3>
         <p>...</p>
         <p>
           <a href="{% url 'main:editCoffee' coffee_id=coffee.id%}" class="btn btn-primary" role="button">Edit</a>
           <a href="{% url 'main:deleteCoffee' coffee_id=coffee.id%}" class="btn btn-default" role="button">Delete</a>
           <a href="{% url 'main:createOrder' coffee_id=coffee.id%}" class="btn btn-default" role="button">Add Order</a>
         </p>
       </div>
     </div>
   </div>
 {% endfor %}
</div>

{% endblock %}
