<!DOCTYPE html>
{% load crispy_forms_tags %}
{% load static %}
<html>
  <head>
    <meta charset="utf-8">
    <title>Replecate Order</title>
    <link href="{% static '/bootstrap-3.3.7-dist/css/bootstrap.css' %}" rel="stylesheet"/>
    <script src="{% static '/bootstrap-3.3.7-dist/js/bootstrap.js' %}"></script>
  </head>
  <body>
    <form class="" action="{% url 'main:replecate_order' today.year today.month today.day %}" method="post">
      {% csrf_token %}
      {{form|crispy}}
    <input type="submit" name="" value="replecate">
    </form>
  </body>
</html>
